<<<<<<< HEAD
<<<<<<< HEAD
$base-color: #cf4944;
$highlight-color: #dd823b;
$notification-color: #ccaf0b;
$menu-submenu-focus-text: lighten( $highlight-color, 35% );

@import "../_admin.scss";
=======
$base-color: #cf4944;
$highlight-color: #dd823b;
$notification-color: #ccaf0b;
$menu-submenu-focus-text: lighten( $highlight-color, 35% );

@import "../_admin.scss";
>>>>>>> b875702c9c06ab5012e52ff4337439b03918f453
=======
$base-color: #cf4944;
$highlight-color: #dd823b;
$notification-color: #ccaf0b;
$menu-submenu-focus-text: lighten( $highlight-color, 35% );

@import "../_admin.scss";
>>>>>>> b875702c9c06ab5012e52ff4337439b03918f453
