.header{
    font-family: Segoe UI;
    color: black;
    text-align: center;
    background-color: darkgray;
    width: 100%;
    height: 10%;
    position: relative;
    margin-top: -20px;
    
}
.Services{
    background-color: yellow;
}
.status{
    float: right;
    color: yellow;
    
}
.offline{
    background-color: red;
}
.online{
    background-color: lime;
}
.toggle-service-links{
    float: left;
    font-size: 5px;
    text-align: center;
    background-color: blue;
    color: white;
}
.header h1{
    
}
body{
    background-color: green;
    height: 700px;
}