<table>
<thead>
<tr>
<th>Movie Title</th>
<th>Movie Rating</th>
</tr>
</thead>
<tbody>
<% for movies in @movies %>
<tr>
<td><%= movie.movie_title %></td>
<td><%= movie.movie_rating %></td>
</tr>
<% end %>
</tbody>
</table>