  audio::-webkit-media-controls-current-time-display{
            font-family: Segoe UI;
            color: yellow;
        }
        audio::-webkit-media-controls-play-button{
            
            border-radius: 50px;
        }