.archercal-container {
  font-family: Segoue UI, Tahoma, Verdana;
 
}
.fc-toolbar{
  border-top-left-radius: 5px;
  background: -moz-linear-gradient(to bottom,white,whitesmoke,silver); 
  border: 1px solid silver;
  height: -moz-calc;
  width: -moz-calc;
  border-top-right-radius: 5px;
}

table{
  background: -moz-linear-gradient(to bottom,white,white,whitesmoke,whitesmoke,blanchedalmond,blanchedalmond);
}
.fc-left h2{
  background: -moz-linear-gradient(to bottom,white,whitesmoke,silver);
  position: relative;
  right: -20px;
  top: 2.5px;
  -webkit-border-radius: 7.5px;
  border-radius:  7.5px;
  
}