input[type=file]::-webkit-file-upload-button{
    background-color: black;
    color: white;
    font-family: Segoe UI;
    font-weight: bold;
}
input[type=file]::-ms-browse{
    color: white;
    background-color: black;
}
input[type=text]::-ms-clear{
    color: green;
}