<<<<<<< HEAD
$base-color: #738e96;
$icon-color: #f2fcff;
$highlight-color: #9ebaa0;
$notification-color: #aa9d88;

$form-checked: $base-color;

@import "../_admin.scss";
=======
$base-color: #738e96;
$icon-color: #f2fcff;
$highlight-color: #9ebaa0;
$notification-color: #aa9d88;

$form-checked: $base-color;

@import "../_admin.scss";
>>>>>>> b875702c9c06ab5012e52ff4337439b03918f453
