<<<<<<< HEAD
<<<<<<< HEAD
/**
 * The first commented line is your dabblet’s title
 */

.header{
 background-color: #06fe32;
 font-family: Segoe UI,Tahoma;
 height: 80px;
 width: 200%;
  margin-bottom: 12px;
 border-top-left-radius: 11px;
  border-top-right-radius: 11px;
 border-bottom-left-radius: 4px;
 border-bottom-right-radius: 4px;
}
    .left{
 float: left;
   background-color: #33e2e3;
  color: #000000;
   border-radius: 12px;
   height: 800px;
   width: 200px;
   text-align: center;
   font-family: Segoe UI,Tahoma;
    margin-top: 20px;

}
.right{
  position: relative;
  left: 214px;
   border-radius: 12px;
  background-color: #333eef;
    text-align: center;
   font-family: Segoe UI,Tahoma;
    color: #ffee45;
  height: 800px;
  width: 1675px;
    text-align: center;
   font-family: Segoe UI,Tahoma;
    margin-top: 20px;

}
.bottom{
float: bottom;
   border-radius: 12px;
  background-color: #5394cf;
    text-align: center;
   font-family: Segoe UI,Tahoma;
    color: #ffee45;
  height: 150px;
    text-align: center;
   font-family: Segoe UI,Tahoma;
    margin-top: 20px;
}
.links-sidebar{
  height:600px;
  width: 160px;
  background-color: #33e43e;
  border-radius: 5px;
  font-weight: bold;
  list-style-type: none;
  text-align: center;
  border-color: blue;
 }
 .ls-item a{
 text-decoration: none;
 }
 .ls-item{
 background-color: turquoise;
 color: whitesmoke;
 position: relative;
 left: -20px;
 -webkit-border-radius: 4px;
 border-radius: 5px;
 }
 .badge-tray{
  background-color: #22e234;
  color: #040e06;
  width:160px;
 }
 .badge-tray:first-child{
 border-top-left-radius: 4px;
}
.badge-tray:last-child{
border-top-right-radius: 4px;
}
.content-left{
   position: relative;
   left: -200px;
   float: left;
   top: -120px;
   background-color: #33e2e3;
   border-radius: 12px;
   height: 600px;
   width: 155px;
   text-align: center;
   font-family: Segoe UI,Tahoma;
    margin-top: 20px;

}

.content-left > h2{
   position: relative;
  color: #ffffff;
  font-size: 16px;
  background-color: #000e0f;
  height: 35px;
  top: -20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.top-ten > li::-moz-list-number
.bottom{
float: bottom;
   border-radius: 12px;
  background-color: #5394cf;
    text-align: center;
   font-family: Segoe UI,Tahoma;
    color: #ffee45;
  height: 150px;
    text-align: center;
   font-family: Segoe UI,Tahoma;
    margin-top: 20px;
}
.links-sidebar{
  height:600px;
  width: 160px;
  background-color: #33e43e;
  border-radius: 5px;
  font-weight: bold;
  list-style-type: none;
  text-align: center;
  border-color: blue;
 }
 .ls-item a{
 text-decoration: none;
 }
 .ls-item{
 background-color: turquoise;
 color: whitesmoke;
 position: relative;
 left: -20px;
 -webkit-border-radius: 4px;
 border-radius: 5px;
 }
 .badge-tray{
  background-color: #22e234;
  color: #040e06;
  width:160px;
 }
 .badge-tray:first-child{
 border-top-left-radius: 4px;
}
.badge-tray:last-child{
border-top-right-radius: 4px;
}
p.description{
text-align: justify;

=======
/**
 * The first commented line is your dabblet’s title
 */

.header{
 background-color: #06fe32;
 font-family: Segoe UI,Tahoma;
 height: 80px;
 width: 200%;
  margin-bottom: 12px;
 border-top-left-radius: 11px;
  border-top-right-radius: 11px;
 border-bottom-left-radius: 4px;
 border-bottom-right-radius: 4px;
}
    .left{
 float: left;
   background-color: #33e2e3;
  color: #000000;
   border-radius: 12px;
   height: 800px;
   width: 200px;
   text-align: center;
   font-family: Segoe UI,Tahoma;
    margin-top: 20px;

}
.right{
  position: relative;
  left: 214px;
   border-radius: 12px;
  background-color: #333eef;
    text-align: center;
   font-family: Segoe UI,Tahoma;
    color: #ffee45;
  height: 800px;
  width: 1675px;
    text-align: center;
   font-family: Segoe UI,Tahoma;
    margin-top: 20px;

}
.bottom{
float: bottom;
   border-radius: 12px;
  background-color: #5394cf;
    text-align: center;
   font-family: Segoe UI,Tahoma;
    color: #ffee45;
  height: 150px;
    text-align: center;
   font-family: Segoe UI,Tahoma;
    margin-top: 20px;
}
.links-sidebar{
  height:600px;
  width: 160px;
  background-color: #33e43e;
  border-radius: 5px;
  font-weight: bold;
  list-style-type: none;
  text-align: center;
  border-color: blue;
 }
 .ls-item a{
 text-decoration: none;
 }
 .ls-item{
 background-color: turquoise;
 color: whitesmoke;
 position: relative;
 left: -20px;
 -webkit-border-radius: 4px;
 border-radius: 5px;
 }
 .badge-tray{
  background-color: #22e234;
  color: #040e06;
  width:160px;
 }
 .badge-tray:first-child{
 border-top-left-radius: 4px;
}
.badge-tray:last-child{
border-top-right-radius: 4px;
}
.content-left{
   position: relative;
   left: -200px;
   float: left;
   top: -120px;
   background-color: #33e2e3;
   border-radius: 12px;
   height: 600px;
   width: 155px;
   text-align: center;
   font-family: Segoe UI,Tahoma;
    margin-top: 20px;

}

.content-left > h2{
   position: relative;
  color: #ffffff;
  font-size: 16px;
  background-color: #000e0f;
  height: 35px;
  top: -20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.top-ten > li::-moz-list-number
.bottom{
float: bottom;
   border-radius: 12px;
  background-color: #5394cf;
    text-align: center;
   font-family: Segoe UI,Tahoma;
    color: #ffee45;
  height: 150px;
    text-align: center;
   font-family: Segoe UI,Tahoma;
    margin-top: 20px;
}
.links-sidebar{
  height:600px;
  width: 160px;
  background-color: #33e43e;
  border-radius: 5px;
  font-weight: bold;
  list-style-type: none;
  text-align: center;
  border-color: blue;
 }
 .ls-item a{
 text-decoration: none;
 }
 .ls-item{
 background-color: turquoise;
 color: whitesmoke;
 position: relative;
 left: -20px;
 -webkit-border-radius: 4px;
 border-radius: 5px;
 }
 .badge-tray{
  background-color: #22e234;
  color: #040e06;
  width:160px;
 }
 .badge-tray:first-child{
 border-top-left-radius: 4px;
}
.badge-tray:last-child{
border-top-right-radius: 4px;
}
p.description{
text-align: justify;

>>>>>>> b875702c9c06ab5012e52ff4337439b03918f453
=======
/**
 * The first commented line is your dabblet’s title
 */

.header{
 background-color: #06fe32;
 font-family: Segoe UI,Tahoma;
 height: 80px;
 width: 200%;
  margin-bottom: 12px;
 border-top-left-radius: 11px;
  border-top-right-radius: 11px;
 border-bottom-left-radius: 4px;
 border-bottom-right-radius: 4px;
}
    .left{
 float: left;
   background-color: #33e2e3;
  color: #000000;
   border-radius: 12px;
   height: 800px;
   width: 200px;
   text-align: center;
   font-family: Segoe UI,Tahoma;
    margin-top: 20px;

}
.right{
  position: relative;
  left: 214px;
   border-radius: 12px;
  background-color: #333eef;
    text-align: center;
   font-family: Segoe UI,Tahoma;
    color: #ffee45;
  height: 800px;
  width: 1675px;
    text-align: center;
   font-family: Segoe UI,Tahoma;
    margin-top: 20px;

}
.bottom{
float: bottom;
   border-radius: 12px;
  background-color: #5394cf;
    text-align: center;
   font-family: Segoe UI,Tahoma;
    color: #ffee45;
  height: 150px;
    text-align: center;
   font-family: Segoe UI,Tahoma;
    margin-top: 20px;
}
.links-sidebar{
  height:600px;
  width: 160px;
  background-color: #33e43e;
  border-radius: 5px;
  font-weight: bold;
  list-style-type: none;
  text-align: center;
  border-color: blue;
 }
 .ls-item a{
 text-decoration: none;
 }
 .ls-item{
 background-color: turquoise;
 color: whitesmoke;
 position: relative;
 left: -20px;
 -webkit-border-radius: 4px;
 border-radius: 5px;
 }
 .badge-tray{
  background-color: #22e234;
  color: #040e06;
  width:160px;
 }
 .badge-tray:first-child{
 border-top-left-radius: 4px;
}
.badge-tray:last-child{
border-top-right-radius: 4px;
}
.content-left{
   position: relative;
   left: -200px;
   float: left;
   top: -120px;
   background-color: #33e2e3;
   border-radius: 12px;
   height: 600px;
   width: 155px;
   text-align: center;
   font-family: Segoe UI,Tahoma;
    margin-top: 20px;

}

.content-left > h2{
   position: relative;
  color: #ffffff;
  font-size: 16px;
  background-color: #000e0f;
  height: 35px;
  top: -20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.top-ten > li::-moz-list-number
.bottom{
float: bottom;
   border-radius: 12px;
  background-color: #5394cf;
    text-align: center;
   font-family: Segoe UI,Tahoma;
    color: #ffee45;
  height: 150px;
    text-align: center;
   font-family: Segoe UI,Tahoma;
    margin-top: 20px;
}
.links-sidebar{
  height:600px;
  width: 160px;
  background-color: #33e43e;
  border-radius: 5px;
  font-weight: bold;
  list-style-type: none;
  text-align: center;
  border-color: blue;
 }
 .ls-item a{
 text-decoration: none;
 }
 .ls-item{
 background-color: turquoise;
 color: whitesmoke;
 position: relative;
 left: -20px;
 -webkit-border-radius: 4px;
 border-radius: 5px;
 }
 .badge-tray{
  background-color: #22e234;
  color: #040e06;
  width:160px;
 }
 .badge-tray:first-child{
 border-top-left-radius: 4px;
}
.badge-tray:last-child{
border-top-right-radius: 4px;
}
p.description{
text-align: justify;

>>>>>>> b875702c9c06ab5012e52ff4337439b03918f453
}