html, body, .desktop {
  height: 100%;
}

a {
  cursor: default;
}

.loading {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: loading;
          animation-name: loading;
  background-color: #f5f5f5;
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 99;
}
.loading .logo {
  color: #999;
  font-size: 6em;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.desktop {
  background-color: #231032;
  font-family: "Helvetica neue", Helvetica, sans-serif;
  position: relative;
}
.desktop ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.desktop ul li {
  display: inline-block;
}
.desktop ul li a {
  color: #333;
  display: block;
  text-decoration: none;
}
.desktop .menubar {
  background-color: #bdc3c7;
}
.desktop .menubar ul {
  padding-left: 1em;
  padding-right: 1em;
}
.desktop .menubar ul li a {
  color: #333;
  font-size: 0.95em;
  line-height: 1.4;
  padding: 0.1em 0.5em;
  text-decoration: none;
}
.desktop .menubar ul li a .fa-apple {
  font-size: 1.2em;
}
.desktop .menubar ul li a.program {
  font-weight: bold;
}
.desktop .menubar ul li a:hover {
  background-color: #afb6bb;
}
.desktop .dock {
  bottom: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
}
.desktop .dock ul {
  background-color: #bdc3c7;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: inline-block;
  padding: 0.6em 0.8em 0.8em;
}
.desktop .dock ul li a {
  color: #333;
  font-size: 3em;
  margin: 0 0.2em;
  position: relative;
}
.desktop .dock ul li a:hover {
  color: #4d4d4d;
}
.desktop .dock ul li a:hover span {
  bottom: 4.2em;
  opacity: 1;
}
.desktop .dock ul li a span {
  background-color: #333;
  border-radius: 2px;
  bottom: 3.9em;
  color: #eee;
  font-size: 16px;
  left: -50%;
  opacity: 0;
  padding: 0.25em 0;
  position: absolute;
  -webkit-transition: all 300ms;
          transition: all 300ms;
  width: 6em;
}
.desktop .dock ul li a span:before {
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid #333;
  bottom: -0.5em;
  content: "";
  height: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 0;
}

.osx {
  color: #2b143e;
  font-size: 15em;
  font-weight: 100;
  margin-top: 0.5em;
  text-align: center;
}

.safari {
  background-color: #fff;
  border-radius: 5px;
  display: none;
  height: 75%;
  left: 10%;
  position: absolute;
  top: 10%;
  width: 80%;
}
.safari .navbar {
  background-color: #bdc3c7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 3.2em;
}
.safari .navbar .buttons {
  line-height: 3.2em;
  margin-left: 1em;
  float: left;
}
.safari .navbar .buttons .btn {
  border-radius: 100%;
  display: inline-block;
  height: 1em;
  margin: 0 0.1em;
  width: 1em;
}
.safari .navbar .buttons .close {
  background-color: #e74c3c;
}
.safari .navbar .buttons .minimize {
  background-color: #f1c40f;
}
.safari .navbar .buttons .full {
  background-color: #2ecc71;
}
.safari .navbar input {
  border: none;
  border-radius: 3px;
  color: #999;
  float: right;
  font-size: 1em;
  margin: 0.6em 1em 0 0;
  padding: 0.4em;
  width: 80%;
}

/* Animations */
@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
