<<<<<<< HEAD
body {
    font-family: Trebuchet MS, Segoe UI;
    padding-top: 70px;
}
h1{
    font-weight: bold;
}
a:-webkit-any-link{
    font-family: Segoe UI;
=======
*{
  font-family: Segoe UI, Trebuchet MS;
}
:-moz-loading{
  background-color: red;
  
>>>>>>> 8397be993f712a69fd140c9d50efe65c53a23815
}