.message{
font-family: Segoe UI,Tahoma,Verdana;
color: navy;
background-color: lightgreen;
font-weight: bolder;
width: 400px;
height: 200px;
text-align: center;
position: relative;
left: 260px;
top: 100px;
webkit-border-radius: 8px;


}
.revert{
background-color: linear-gradient(to bottom, lightblue, blue , lightblue);

}