.message{
font-family: Segoe UI,Tahoma,Verdana;
color: navy;
background-color: lightgreen;
font-weight: bolder;
width: 400px;
height: 200px;
text-align: center;
position: relative;
left: 260px;
top: 100px;
webkit-border-radius: 8px;


}
.revert{
background-color: linear-gradient(to bottom, lightblue, blue , lightblue);

}
.asos-incorrect-pass {
    font-family: Segoe UI,Comic Sans MS;
    color: whitesmoke;
    background-color: navy;
    width: 343px;
    height: 223px;
    position: relative;
    left: 266px;
    top: 83px;
    text-align: center;
    font-weight: bolder;
    border-radius: 8px;
}
.asos-ipass-button{
font-family: Segoe UI, Tahoma;
position: relative;

top: 45px;
left: -5px;
border-radius: 5px;
background-color: red;
}