<<<<<<< HEAD
<<<<<<< HEAD
$base-color: #523f6d;
$icon-color: #ece6f6;
$highlight-color: #a3b745;
$notification-color: #d46f15;

$form-checked: $base-color;

@import "../_admin.scss";
=======
$base-color: #523f6d;
$icon-color: #ece6f6;
$highlight-color: #a3b745;
$notification-color: #d46f15;

$form-checked: $base-color;

@import "../_admin.scss";
>>>>>>> b875702c9c06ab5012e52ff4337439b03918f453
=======
$base-color: #523f6d;
$icon-color: #ece6f6;
$highlight-color: #a3b745;
$notification-color: #d46f15;

$form-checked: $base-color;

@import "../_admin.scss";
>>>>>>> b875702c9c06ab5012e52ff4337439b03918f453
