body{
    background-color: #235EEF;
	color: whitesmoke;
	font-family: Segoe UI;
}
.producktiviti-container{
	font-size: 15px;
	height: 100%;
}
iframe{
}
a:-webkit-any-link {
	text-decoration: none;
}
.jbname:focus{
 background-color: #CC3CC3;
 color: white;
}
.producktiviti-content{
     font-size:10%;	
}
.jbname{
	 background-color: white;
 color: black;
}
.producktiviti-header > h1{
	text-align:center;
}
.producktiviti-header{
height: 20%;
	position: relative;
top: -20px;
	width: 100%;
background-color: #EFC333;

}
@media(max-width:384px){
	.producktiviti-container > div{
	  display: inline;	
	  	
	}
  .producktiviti-apps-installed{
	float:none;	
	}
	body{
    background-color: #235EEF;
	color: whitesmoke;
	font-family: Segoe UI;
}
.producktiviti-container{
	font-size: 15px;
	height: 100%;
}
}
::-ms-scrollbar{
	
}
.producktiviti-apps-installed{
	float: left;
background-color: #A0CB43;
	width: 21%;
	height: 70%;
	list-style-type: none;
	font-size:10%;
}
.producktiviti-apps-installed >ul{
	list-style: none;
	-webkit-padding-start: 0px;
	-moz-padding-start: 0px;
	-ms-margin-start: 0px;
	-ms-padding-start: 0px;
	-webkit-margin-start: 0px;
	-moz-margin-start: 0px;
	-webkit-margin-before: 0px;
}
.toptentapps:not(:-internal-list-box) {
	font-family: Segoe UI;
	}
.producktiviti-apps-installed >ul >li{
	
font-size: 16px;
line-height: 44px;
	text-align: center;
	background: azure;
	color: #ee4400;
	border-radius: 4px;
	border: 3px solid green;
}

::-webkit-file-upload-button{
	font-family: Segoe UI Light;
	background-color: orange;
	color: navy;
	-webkit-user-select: none;
    
}
tr{
	display: table-row;
}
.weekboard-setter{
	font-family: Segoe UI;
	display: -webkit-inline-flex;
}
.juiceboard{
	border-color: olive;
}
.juiceboard > tbody{
    display: table-row-group;
}