<<<<<<< HEAD
<<<<<<< HEAD
.olControlZoomPanel div {
    background-image: url(img/zoom-panel-NOALPHA.png);
}
.olControlPanPanel div {
    background-image: url(img/pan-panel-NOALPHA.png);
}

=======
.olControlZoomPanel div {
    background-image: url(img/zoom-panel-NOALPHA.png);
}
.olControlPanPanel div {
    background-image: url(img/pan-panel-NOALPHA.png);
}

>>>>>>> b875702c9c06ab5012e52ff4337439b03918f453
=======
.olControlZoomPanel div {
    background-image: url(img/zoom-panel-NOALPHA.png);
}
.olControlPanPanel div {
    background-image: url(img/pan-panel-NOALPHA.png);
}

>>>>>>> b875702c9c06ab5012e52ff4337439b03918f453
