

<!DOCTYPE html>
<html>
    <head>
        <title>My ArcherVM</title>
        <link rel="stylesheet" href="/css/StyleSheet.css" />
    </head>
    <body>
        <h1 class="asossharp-header">This Server</h1>
        <div class="asossharp-serverinfo">
           
            @ServerInfo.GetHtml();
        </div>
    </body>
</html>
