<!DOCTYPE html>
<html>
    <head>
        <title>ArcherSys OS Sharp for Web</title>
    </head>
    <body>
        <h1>Welcome to ArcherSys OS for Web!</h1>
        <ul>
            <li>
                <a href="~/ServerINF/index.cshtml">My Server Info</a>
            </li>
        </ul>
    </body>
</html>
