<<<<<<< HEAD
a#egit-noteworthy img {
	background-image: url(../../images/topiclabel/egit.png);
}

a#egit-noteworthy:hover img {
	background-image: url(../../images/topiclabel/egit.png);
=======
a#egit-noteworthy img {
	background-image: url(../../images/topiclabel/egit.png);
}

a#egit-noteworthy:hover img {
	background-image: url(../../images/topiclabel/egit.png);
>>>>>>> b875702c9c06ab5012e52ff4337439b03918f453
}